body {
  color: #fff;
  background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(121,9,70,0.8) 53%, rgba(0,212,255,1) 75%);
  background: -webkit-linear-gradient(to right, rgba(2,0,36,1) 27%, rgba(121,9,70,0.8) 53%, rgba(0,212,255,1) 75%);
  background:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(56, 15, 17, 0.5)
    ), url('https://picsum.photos/2048/1365/?random'),url('../images/bg.jpeg');
    background-position: center center;
    transition: background 0.5s ease-in-out;
    filter: blur(0.2px);
    overflow: hidden;
    text-shadow:0 1px 5px rgba(0,0,0,.1);
  margin: 0;
}

h1{
  text-align: center;
  color: #a92334;

}
a {
    outline:0;
    line-height: 1.7em;
    text-decoration:none;
}
a:link {
    color: #0c1f2c;
}
a:visited {
  color: #a92334;
}
a:hover {
  color: #050e13;
}
.news:hover {
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}
/* vw viewport width */
#news-container{
  max-width: 30vw;
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(5, 14, 19, 0.5);
  background-color: rgba(255, 255, 255, 1);
  padding: 30px;
  width: 25vw;
  margin: 50px 20px;
  transition-duration: 1.5s;
  opacity: 0.3;
}

#news-container:hover{
  opacity: 0.95;
}
 /*
 Styling the scrollbar of the news
 */

#news-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#news-container::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#news-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.news-source {
  text-align: center;
  font-size: 1.2em;
  color: #0c1f2c;

}

.card {
  display: block;
  cursor: pointer;
  height: fit-content;
  padding: 10px;
}

.card:hover {
  background-color: rgba(85, 85, 85, 0.1);
}

#middle {
  position: absolute;
  left: 33vw;
  bottom: 10%;
  right: 15.6%;
  margin: 0;
  max-width: 35vw;
}

.dailyVersesWrapper {
  max-width: 35vw;
  font-size: 1.3em;
}

.dailyVersesWrapper > a {
  color: #fff;
}

#time{
  font-size: 5em;
  font-weight: bold;
  color: #fff;
}

#quotes {
  font-size: 1.3em;
  max-width: 35vw;
}

#author > span > a{
  color: #a92334;
}

.todo > span{
  display: inline-block;
}

#todo > span::after {
  content: "\A";
  white-space: pre;
}

.done{
  text-decoration: line-through;
  text-decoration-color: #000;
}

#right {
  position: fixed;
  right: 1%;
  bottom: 10%;
  color: #fff;
  max-width: 33vw;
  width: 400px;}

#nameInput{
  display: none;
}

#username{
  font-size: 2.5rem;
  font-weight: lighter;
  color: #fff;
}

.dailyVerses a{
  color: #a92334;
}

.allSources{
  font-size: 14px;
}

#bg {
  padding: 1px;
  width: 100vw;
  height: 100vh;
}

#bottom-container{
  bottom: 10px;
  position: relative;
}

.clock-label{
  font-size: 2rem;
}