body {
  color: #fff;
  background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://picsum.photos/2048/1365/?random'), url('../img/bg01.jpg') rgba(0,0.0,0.5);
    background-position: center center;
    filter: blur(0.2px);
    overflow: hidden;
    text-shadow:0 1px 5px rgba(0,0,0,.1);
}

h1{
  text-align: center;
  color: #a92334;

}
a {
    outline:0;
    line-height: 1.7em;
    text-decoration:none;
}
a:link {
    color: #0c1f2c;
}
a:visited {
  color: #a92334;
}
a:hover {
  color: #050e13;
}
.news:hover {
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}
/* vw viewport width */
#news-container{
  max-width: 30vw;
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  background-color: rgba(255, 255, 255, 0.89);
  padding: 30px;
  width: 300px;
  margin: 50px 10px;
}

 /*
 Styling the scrollbar of the news
 */

#news-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#news-container::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#news-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.news-source {
  text-align: center;
  font-size: 1.2em;
  color: #0c1f2c;

}

.card {
  display: block;
  cursor: pointer;
  height: fit-content;
  padding: 10px;
}

.card:hover {
  background-color: rgba(85, 85, 85, 0.06);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3), 0 1px 5px 0;
}

#middle {
  position: absolute;
  left: 31vw;
  bottom: 3%;
  right: 15.6%;
  margin: 0;
  max-width: 35vw;
}

.dailyVersesWrapper {
  max-width: 35vw;
  font-size: 1.3em;
}

.dailyVersesWrapper > a {
  color: #fff;
}

#time{
  font-size: 7em;
  font-weight: bold;
  color: #fff;
}

#quotes {
  font-size: 1.3em;
  max-width: 35vw;
}

.todo > span{
  display: inline-block;
}

#todo > span::after {
  content: "\A";
  white-space: pre;
}

.done{
  text-decoration: line-through;
  text-decoration-color: #000;
}

#right {
  position: fixed;
  right:1%;
  bottom: 15%;
  color: #fff;
  max-width: 30vw;
}

#nameInput{
  display: none;
}

#name{
  font-size: 3em;
  font-weight: lighter;
  color: #fff;
}
